main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 290px;
  background: #f3f3f3;
  overflow: hidden;
}

.picture .title-picture {
  width: 98%;
  height: auto;
  display: block;
}

.main-content {
  width: 1200px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.left-side {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 40px;
  width: 70%;
}

.right-side {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
  width: 30%;
}

h1 {
  color: black;
  font-family: "Roboto", Sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 34px;
}

h2 {
  font-size: 38px;
  color: #51b9ea;
}

h3 {
  font-size: 30px;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  hyphens: auto;
  overflow-wrap: break-word;
}

p,
li {
  font-size: 19px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.blue {
  color: #51b9ea;
  font-weight: 550;
}

.gray {
  color: gray;
}

.contact-button {
  display: inline-block;
  margin-top: 50px;
  background-color: #e30613;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  height: 60px;
  width: 220px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-button:hover {
  transform: translateY(-1px) scale(1.01);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.picture {
  width: 100%;
  height: 256px;
}

.picture .title-picture {
  width: 1770px;
}

.main-content p,
.icon-container {
  padding-left: 40px;
}

@media (max-width: 1250px) {
  .main-content {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .picture {
    width: 100%;
    height: 256px;
  }

  .picture .title-picture {
    width: 1670px;
  }

  .main-content {
    justify-content: center;
    align-items: center;
  }

  .main-content p,
  .icon-container {
    padding-left: 0px;
  }
}

@media (max-width: 1120px) {
  .picture {
    width: 100%;
    height: 256px;
  }

  .picture .title-picture {
    width: 1570px;
  }
}

@media (max-width: 1060px) {
  .picture {
    width: 100%;
    height: 236px;
  }

  .picture .title-picture {
    width: 1470px;
  }

  h1,
  h2 {
    font-size: 34px;
  }
}

@media (max-width: 1015px) {
  .picture {
    width: 100%;
    height: 220px;
  }

  .picture .title-picture {
    width: 1370px;
  }

  h1,
  h2 {
    font-size: 32px;
  }
}

@media (max-width: 935px) {
  .picture {
    width: 100%;
    height: 200px;
  }

  .picture .title-picture {
    width: 1270px;
  }

  h1,
  h2 {
    font-size: 30px;
  }
}

@media (max-width: 875px) {
  .picture {
    width: 100%;
    height: 190px;
  }

  .picture .title-picture {
    width: 1170px;
  }

  h1,
  h2 {
    font-size: 28px;
  }
}

@media (max-width: 815px) {
  .picture {
    width: 100%;
    height: 170px;
  }

  .picture .title-picture {
    width: 1070px;
  }
}

@media (max-width: 768px) {
  h2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .picture {
    width: 100%;
    height: 170px;
  }

  .picture .title-picture {
    width: 1320px;
  }
}

@media (max-width: 580px) {
  .left-side {
    width: 500px;
  }
}

@media (max-width: 530px) {
  .left-side {
    width: 450px;
  }
}

@media (max-width: 440px) {
  h1,
  h2 {
    font-size: 26px;
  }

  h2 {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
  }
}
