.picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 476px;
  background: #f3f3f3;
  overflow: hidden;
}

.picture .title-picture {
  width: 1228px;
  height: auto;
  display: block;
}

main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-content {
  height: 500px;
  width: 100%;
  max-width: 1200px;
  padding-top: 50px;
  display: flex;
  flex-direction: row;
}

.left-side {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 40px;
  width: 70%;
}

.right-side {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
  width: 30%;
}

h1 {
  color: black;
  font-family: "Roboto", Sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 34px;
}

h2 {
  font-size: 38px;
  color: #51b9ea;
}

h3 {
  font-size: 30px;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  hyphens: auto;
  overflow-wrap: break-word;
}

p,
li {
  font-size: 19px;
}

.blue {
  color: #51b9ea;
  font-weight: 550;
  font-size: 19px;
}

.gray {
  color: gray;
}

.calendly-inline-widget {
  width: 100%;
  max-width: 1000px;
  height: 700px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  background: none;
}

.calendly-container {
  display: flex;
  justify-content: center;
  gap: 0;
  flex-wrap: wrap;
  width: 100%;
  background: none;
  border: none;
  padding: 0;
  margin: 0 auto;
}

.contact-button {
  display: inline-block;
  margin-top: 50px;
  background-color: #e30613;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  height: 60px;
  width: 220px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-button:hover {
  transform: translateY(-1px) scale(1.01);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.logo-partner {
  width: 220px;
  height: auto;
}

.logo-partner-daikin {
  width: 270px;
  height: auto;
}

.logo-partner-wolf {
  width: 200px;
  height: auto;
}

.logo-partner-buderus {
  width: 260px;
  height: auto;
}

.partner-card {
  height: 200px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 12px;
  cursor: pointer;
}

.partner-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.partner-card-wolf {
  height: 200px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #11151c;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 12px;
  cursor: pointer;
}

.partner-card-wolf:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.partner-card-buderus {
  height: 200px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #12345e;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 12px;
  cursor: pointer;
}

.partner-card-buderus:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.partner {
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  align-items: center;
  justify-items: center;
  padding: 2rem;
  overflow: hidden;
}

@media (max-width: 1044px) {
  .partner {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 755px) {
  .partner {
    grid-template-columns: 1fr;
  }
}

.partner-card {
  text-align: center;
  max-width: 300px;
}

@media (max-width: 1200px) {
  .picture {
    width: 100%;
    height: 456px;
  }

  .picture .title-picture {
    width: 1170px;
  }

  .main-content {
    height: 500px;
    max-width: 1200px;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .left-side {
    width: 600px;
  }

  .right-side {
    width: 300px;
  }
}

@media (max-width: 1120px) {
  .picture {
    width: 100%;
    height: 426px;
  }

  .picture .title-picture {
    width: 1090px;
  }
}

@media (max-width: 1060px) {
  .picture {
    width: 100%;
    height: 388px;
  }

  .picture .title-picture {
    width: 1000px;
  }

  .main-content {
    height: 550px;
  }

  .left-side {
    width: 550px;
  }

  .right-side {
    width: 300px;
  }

  h1,
  h2 {
    font-size: 34px;
  }
}

@media (max-width: 1015px) {
  .picture {
    width: 100%;
    height: 358px;
  }

  .picture .title-picture {
    width: 920px;
  }

  .left-side {
    width: 530px;
    padding-right: 20px;
  }

  .right-side {
    width: 280px;
    padding-left: 20px;
  }

  h1,
  h2 {
    font-size: 32px;
  }

  .calendly-inline-widget {
    width: 70%;
    max-width: 1000px;
    height: 700px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    background: none;
  }

  .calendly-container {
    display: flex;
    justify-content: center;
    gap: 0;
    flex-wrap: wrap;
    width: 100%;
    background: none;
    border: none;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 50px;
  }
}

@media (max-width: 935px) {
  .picture {
    width: 100%;
    height: 338px;
  }

  .picture .title-picture {
    width: 870px;
  }

  .left-side {
    width: 530px;
    padding-right: 10px;
  }

  .right-side {
    width: 280px;
    padding-left: 10px;
  }

  .right-foot {
    display: none;
  }

  h1,
  h2 {
    font-size: 30px;
  }
}

@media (max-width: 875px) {
  .picture {
    width: 100%;
    height: 310px;
  }

  .picture .title-picture {
    width: 800px;
  }

  .main-content {
    height: 580px;
  }

  .left-side {
    width: 480px;
  }

  .right-side {
    width: 280px;
  }

  h1,
  h2 {
    font-size: 28px;
  }
}

@media (max-width: 815px) {
  .picture {
    width: 100%;
    height: 270px;
  }

  .picture .title-picture {
    max-width: 800px;
  }

  .main-content {
    height: 600px;
  }

  .left-side {
    width: 430px;
  }

  .right-side {
    width: 280px;
  }
}

@media (max-width: 768px) {
  .main-content {
    height: 800px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .left-side {
    width: 90%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .right-side {
    width: 100%;
    max-width: 700px;
    display: flex;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
  }

  .contact-button {
    margin-top: 10px;
  }

  h2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 690px) {
  .calendly-inline-widget {
    width: 80%;
  }
}

@media (max-width: 630px) {
  .main-content {
    height: 880px;
  }
}

@media (max-width: 530px) {
  .calendly-inline-widget {
    width: 90%;
  }
}

@media (max-width: 475px) {
  .main-content {
    height: 925px;
  }
}

@media (max-width: 440px) {
  .main-content {
    height: 1000px;
  }

  h1,
  h2 {
    font-size: 26px;
  }

  h2 {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 400px) {
  .main-content {
    height: 1050px;
  }
}

@media (max-width: 380px) {
  .main-content {
    height: 1050px;
  }

  .partner {
    padding-right: 20px;
    padding-left: 20px;
  }
}
