main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.divider {
  width: 100%;
  height: 50px;
  background: #51baeb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 290px;
  background: #f3f3f3;
  overflow: hidden;
}

.picture .title-picture {
  width: 98%;
  height: auto;
  display: block;
}

.main-content {
  width: 1200px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accordion {
  width: 1200px;
  border-collapse: collapse;
  background-color: #dfeaec;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 30px;
}

.accordion-item {
  border-bottom: 1px solid #c8d8da;
}

.accordion-header {
  background-color: #dfeaec;
  cursor: pointer;
  padding: 15px 20px;
  font-weight: bold;
  color: #2d3e50;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 1160px;
}

.accordion-header:hover {
  background-color: #cfdee1;
}

.accordion-icon {
  font-size: 20px;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  background-color: #edf3f4;
  padding: 0 20px;
  transition: max-height 0.3s ease, padding 0.3s ease;
}

.accordion-content.open {
  padding: 15px 20px;
  max-height: 100%;
}

.accordion-item.open .accordion-icon {
  transform: rotate(45deg);
}

#vorname {
  width: 450px;
  height: 40px;
}

#nachname {
  width: 450px;
  height: 40px;
}

#telefon {
  width: 450px;
  height: 40px;
}

#email {
  width: 450px;
  height: 40px;
}

.form-group input,
.form-group textarea {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.form-group input:focus,
.form-group textarea:focus {
  background-color: #ffffff;
  outline: none;
  border-color: #888;
}

.error-message {
  font-size: 0.9em;
  color: red;
  min-height: 1.2em;
  visibility: hidden;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: start;
}

.error-message.visible {
  visibility: visible;
}

.hidden-input {
  display: none;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h1 {
  color: black;
  font-family: "Roboto", Sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 34px;
  text-align: center;
}

h2 {
  font-size: 38px;
  color: #51b9ea;
}

h3 {
  font-size: 30px;
  color: black;
}

h4 {
  color: white;
  font-family: "Roboto", Sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 34px;
  text-align: center;
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  hyphens: auto;
  overflow-wrap: break-word;
}

p,
li {
  font-size: 19px;
  text-align: center;
}

p,
b,
li {
  font-size: 19px;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

a {
  color: #51b9ea;
  text-decoration: none;
  padding-bottom: 10px;
  font-weight: 540;
}

a.custom-hover:hover {
  color: #3498db;
}

.blue {
  color: #51b9ea;
  font-weight: 550;
}

.gray {
  color: gray;
}

.contact-button {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #e30613;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  height: 60px;
  width: 220px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-button:hover {
  transform: translateY(-1px) scale(1.01);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.icon-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.icon-container svg {
  width: 20px;
  height: 20px;
  color: #39a5d5;
  margin-bottom: 12px;
}

.icon-container svg[fill="currentColor"] path {
  fill: currentColor;
}

.icon-container svg[stroke="currentColor"] path,
.icon-container svg[stroke="currentColor"] circle {
  stroke: currentColor;
}

ul {
  margin: 0;
  padding-left: 20px;
}
li {
  margin-bottom: 8px;
  text-align: left;
}
.button {
  display: inline-block;
  margin: 20px;
  background: #51baeb;
  color: white;
  padding: 10px 25px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
  transform: translateY(-1px) scale(1.01);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1300px) {
  .main-content {
    width: 100%;
  }

  .main-content p {
    padding-left: 20px;
    padding-right: 20px;
  }

  .main-content h1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .divider h4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 1260px) {
  .accordion {
    width: 1100px;
  }

  .accordion-header {
    width: 1060px;
  }
}

@media (max-width: 1200px) {
  .picture {
    width: 100%;
    height: 456px;
  }

  .picture .title-picture {
    width: 1170px;
  }
}

@media (max-width: 1160px) {
  .accordion {
    width: 1000px;
  }

  .accordion-header {
    width: 960px;
  }
}

@media (max-width: 1120px) {
  .picture {
    width: 100%;
    height: 426px;
  }

  .picture .title-picture {
    width: 1090px;
  }
}

@media (max-width: 1077px) {
  .divider {
    height: 62px;
  }

  .divider h4 {
    padding-left: 135px;
    padding-right: 135px;
  }
}

@media (max-width: 1043px) {
  .divider h4 {
    padding-left: 115px;
    padding-right: 115px;
  }

  .accordion {
    width: 900px;
  }

  .accordion-header {
    width: 860px;
  }
}

@media (max-width: 1003px) {
  .divider h4 {
    padding-left: 95px;
    padding-right: 95px;
  }
}

@media (max-width: 963px) {
  .divider h4 {
    padding-left: 75px;
    padding-right: 75px;
  }
}

@media (max-width: 1060px) {
  .picture {
    width: 100%;
    height: 388px;
  }

  .picture .title-picture {
    width: 1000px;
  }

  h1,
  h2 {
    font-size: 34px;
  }
}

@media (max-width: 1015px) {
  .picture {
    width: 100%;
    height: 358px;
  }

  .picture .title-picture {
    width: 920px;
  }

  h1,
  h2 {
    font-size: 32px;
  }
}

@media (max-width: 935px) {
  .picture {
    width: 100%;
    height: 338px;
  }

  .picture .title-picture {
    width: 870px;
  }

  h1,
  h2 {
    font-size: 30px;
  }

  .accordion {
    width: 800px;
  }

  .accordion-header {
    width: 760px;
  }
}

@media (max-width: 923px) {
  .divider h4 {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 893px) {
  .divider h4 {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 875px) {
  .picture {
    width: 100%;
    height: 310px;
  }

  .picture .title-picture {
    width: 800px;
  }

  h1,
  h2 {
    font-size: 28px;
  }
}

@media (max-width: 853px) {
  .divider h4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .accordion {
    width: 700px;
  }

  .accordion-header {
    width: 660px;
  }
}

@media (max-width: 815px) {
  .picture {
    width: 100%;
    height: 270px;
  }

  .picture .title-picture {
    max-width: 800px;
  }
}

@media (max-width: 813px) {
  .divider h4 {
    font-size: 20px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 768px) {
  .accordion {
    width: 600px;
  }

  .accordion-header {
    width: 560px;
  }

  .main-content {
    padding-top: 20px;
  }
}

@media (max-width: 630px) {
  .accordion {
    width: 500px;
  }

  .accordion-header {
    width: 460px;
  }
}

@media (max-width: 560px) {
  .divider h4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 530px) {
  .accordion {
    width: 400px;
  }

  .accordion-header {
    width: 360px;
  }
}

@media (max-width: 520px) {
  .divider {
    height: 95px;
  }

  #vorname {
    width: 350px;
  }

  #nachname {
    width: 100%;
  }

  #telefon {
    width: 100%;
  }

  #email {
    width: 100%;
  }
}

@media (max-width: 440px) {
  h1,
  h2 {
    font-size: 26px;
  }

  h2 {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
  }

  .accordion {
    width: 310px;
  }

  .accordion-header {
    width: 270px;
  }
}

@media (max-width: 400px) {
  #vorname {
    width: 300px;
  }

  #nachname {
    width: 100%;
  }

  #telefon {
    width: 100%;
  }

  #email {
    width: 100%;
  }
}

@media (max-width: 385px) {
  .divider h4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 364px) {
  .divider h4 {
    font-size: 17px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
